@import "tailwindcss";

@font-face {
  font-family: Harvey;
  src: url("/public/assets/fonts/075adf7a92f05f28-s.p.woff2") format("woff2");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.harvey {
  font-family: Harvey;
}
